@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@300;400&display=swap");
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif; }

/*Encabezado de pagina*/
.header {
  background-image: url(../img/portada.png);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 88.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header__titulo {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900px;
    font-size: 5rem; }

.nav-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400px;
  font-size: 1.1rem;
  margin: 0 10px; }

/* Contenido principal */
main h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900px;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 40px; }

.secc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  /*imagenes principales*/ }
  .secc__descripcion {
    width: 40%; }
  .secc__titulo {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900px;
    font-size: 2.3rem; }
  .secc__texto {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.7rem; }
  .secc__link, .secc__link--blanco {
    background-color: #FFC500;
    color: white;
    display: block;
    padding: 0.5rem;
    width: 20%;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center; }
  .secc__link:hover, .secc__link--blanco:hover {
    background-color: rgba(255, 197, 0, 0.7);
    color: white;
    text-decoration: none; }
  .secc__link--blanco {
    background-color: whitesmoke;
    color: #FFC500; }
  .secc__link--blanco:hover {
    background-color: #FFC500;
    color: white;
    text-decoration: none; }
  .secc__fotos {
    width: 40%; }
  .secc__img {
    width: 100%;
    max-height: 500px;
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.3); }

.secc--azul {
  background-color: rgba(183, 227, 228, 0.9);
  flex-direction: row-reverse;
  padding: 30px 0; }

/* contenido principal de "conocenos.html" */
.team {
  width: 80%;
  margin: auto; }

.conocenos {
  display: flex;
  align-items: center; }
  .conocenos__texto {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.7rem;
    text-align: center;
    margin: 20px 0 40px; }

.equipo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 30px; }
  .equipo__bloque {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .equipo__img {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .equipo__texto {
    margin-bottom: 1rem;
    font-weight: bold; }
  .equipo__texto--sm {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    font-weight: normal;
    font-style: italic; }

/* contenido principal de "productos.html" */
.productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 25px;
  margin: 30px 0; }
  .productos__img {
    width: 400px;
    height: 400px;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: all 0.5s; }
  .productos__img:hover {
    opacity: 1; }

/* contenido principal de "talleres.html" */
.taller__contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin: 30px auto; }

.taller__card {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  padding: 20px 50px;
  border-top: 5px solid #FFC500;
  border-radius: 0.5rem;
  border-top-left-radius: 0; }

.taller__nombre {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900px;
  font-size: 1.5rem; }

.taller__fecha {
  font-style: italic; }

/* contenido principal de "contacto.html" */
.contenedorContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 2rem;
  margin: 3rem 0;
  height: calc(100vh - 89px - 191px); }

/* formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%; }
  .form__row {
    display: flex;
    align-items: center;
    gap: 10px; }
  .form__column {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .form label {
    margin: 0;
    font-size: 0.9rem; }
  .form textarea {
    background-color: #efefef;
    border: none;
    outline: none;
    height: 80px;
    font-size: 12px;
    padding: 10px; }
  .form input[type=text], .form input[type=email], .form select, .form option {
    background-color: #efefef;
    border: none;
    outline: none;
    font-size: 12px; }
  .form select {
    height: 30px; }
  .form input[type=text], .form input[type=email] {
    width: 100%;
    height: 30px; }
  .form__boton {
    display: inline-block;
    background-color: whitesmoke;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #FFC500;
    font-size: 1.1rem;
    margin: 5px;
    padding: 5px; }

/*Pie de pagina*/
.footer {
  background-color: #F57972;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer__contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px 0; }
  .footer__suscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; }
  .footer__titulo {
    font-size: 1rem; }
  .footer__ul {
    display: flex;
    flex-direction: column;
    gap: 8px; }
  .footer__li {
    list-style: none; }
  .footer__link {
    text-decoration: none;
    color: whitesmoke; }
  .footer__link:hover {
    color: gainsboro;
    text-decoration: none; }
  .footer__input {
    border: none;
    background-color: #efefef;
    outline: none; }
  .footer__boton {
    display: inline-block;
    background-color: whitesmoke;
    width: 100px;
    border: none;
    border-radius: 20px;
    color: #F57972;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center; }

.copyright {
  background-color: white;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300px;
  font-size: 0.8rem;
  padding: 4px;
  margin-bottom: 0; }
  .copyright p {
    margin-bottom: 0; }

/*********************************Media Queries********************/
@media (max-width: 768px) {
  .header .header__titulo {
    font-size: 3rem; }
  .secc {
    flex-direction: column; }
    .secc__texto {
      text-align: center; }
    .secc__descripcion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
      width: 85%; }
    .secc__descripcion--azul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem; }
    .secc__fotos {
      width: 80%; }
  .footer {
    flex-direction: column;
    justify-content: space-around;
    height: 100vh; }
    .footer__contenedor {
      height: fit-content;
      margin: 10px; }
    .footer__ul {
      align-items: center; }
  .contenedorContacto {
    flex-direction: column;
    height: fit-content; } }

@media (max-width: 450px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%; }
  .header__titulo {
    font-size: 2rem !important;
    align-self: center; }
  .secc {
    padding: 40px; }
  .secc__titulo {
    font-size: 1.5rem; }
  .secc__texto {
    font-size: 14px;
    line-height: 30px; }
  .secc__link, .secc__link--blanco {
    font-size: 14px;
    width: fit-content; }
  .secc__img {
    width: 100%; }
  main h1 {
    font-size: 2rem; }
  .taller__contenedor {
    width: 90%; }
  .form {
    width: 90%; } }
